.App {
    max-width: 1920px;     
    margin: 0 auto;    
    padding: 0.25rem;         
    text-align: left;      
    position: relative;
    font-size: 24px;
                  
 }

#output{
  color: Red;

}
